---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/new.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout  {...post.data}>
	<div class="container-sm mx-auto my-10">
		<div class="mx-auto prose lg:prose-xl">
			<Content></Content>
		</div>
	</div>

</Layout>