---
import "../styles/globals.css";

import Layout from "../layouts/new.astro";

import HackerText from "../components/HackerText.astro";
import Badge from "../components/Badge.astro";
import Gallery from "../components/Gallery.astro";
import CodeHello from "../components/CodeHello.astro";
import LinkItems from "../components/LinkItems.astro";
---

<Layout>
  <!-- Logo + brand -->
  <div class="container mx-auto flex flex-col justify-center items-center">
    <div class="mt-[10vh]">
      <Badge />
    </div>
    <div class="mt-[5vh]">
      <HackerText text="FOSC" />
    </div>
    <div class="flex lg:hidden mt-[5vh]">
      <LinkItems />
    </div>
  </div>

  <!-- Wall of pictures -->
  <div class="container py-20 mx-auto">
    <Gallery />
  </div>

  <!-- Text description -->
  <div class="container py-20 mx-auto">
    <CodeHello />
  </div>
</Layout>
