---
import { Image } from "astro:assets";

import junction2018 from "../assets/gallery/junction2018.jpg";
import santi from "../assets/gallery/santi.jpg";
import kids from "../assets/gallery/kids.jpg";
import sec from "../assets/gallery/sec.jpg";
import junction20181 from "../assets/gallery/junction2018-1.jpg";
import app from "../assets/gallery/app.jpg";
import bitup from "../assets/gallery/bitup.jpg";
import soldadura from "../assets/gallery/soldadura.jpg";
import hacking from "../assets/gallery/hacking.jpg";
import junction2019_1 from "../assets/gallery/junction2019-1.jpg";
import pepemod from "../assets/gallery/pepemod.jpg";
import atresmedia from "../assets/gallery/atresmedia.jpg";
import junction2019 from "../assets/gallery/junction2019.jpg";
import printer3d from "../assets/gallery/printer3d.jpg";
import flp1 from "../assets/gallery/flp1.jpg";
import soldadura1 from "../assets/gallery/soldadura1.jpg";
import nn1 from "../assets/gallery/nn1.jpg";
import fosc from "../assets/gallery/fosc.jpg";

const gallery = [
  { image: junction2018, alt: "Winners at Junction 2018" },
  { image: santi, alt: "Explaining MCU glitching at Makers Murcia" },
  { image: kids, alt: "Showing 3D printing at Semana de la Ciencia" },
  { image: sec, alt: "More Semana de la Ciencia" },
  { image: junction20181, alt: "Hacking at Junction 2018" },
  { image: app, alt: "Speaking for Puertas Violetas app" },
  { image: bitup, alt: "Giving an ESP32 hacking talk at BITUP 2019" },
  { image: soldadura, alt: "Learning to solder" },
  { image: hacking, alt: "Installing Coreboot open firmware into a Thinkpad x230" },
  { image: junction2019_1, alt: "Posing at Junction 2019" },
  { image: pepemod, alt: "Soldering Nitrocaster's adapter board to a Thinkpad x230" },
  { image: atresmedia, alt: "Having fun in Atresmedia" },
  { image: junction2019, alt: "Hacking at Junction 2019" },
  { image: printer3d, alt: "3D printer, 3D printing" },
  { image: flp1, alt: "First FOSC LAN Party" },
  { image: soldadura1, alt: "Soldering workshop" },
  { image: nn1, alt: "Giving an open firmware talk at Navaja Negra 2019" },
  { image: fosc, alt: "Showing some stuff during Cable Amarillo" }
];

---
<div class="columns-3xs gap-4">
  {gallery.map(({ image, alt }) => (
    <img
      src={image.src}
      alt={alt}
      class="mb-4 rounded-lg cursor-pointer hover:scale-105 transition-transform duration-300"
      data-src={image.src}
      data-alt={alt}
    />
  ))}
</div>

<dialog id="image_modal" class="modal">
  {/* Main modal content with fixed close button */}
  <div class="modal-box max-w-full p-0 bg-transparent shadow-none overflow-visible h-full flex items-center justify-center">
    <div class="relative max-w-[90vw] max-h-[90vh]">
      <img id="modal_image" class="w-auto h-auto max-h-[80vh] max-w-full object-contain" alt="Enlarged view" />
    </div>
  </div>

  {/* Full-screen backdrop */}
  <form method="dialog" class="modal-backdrop bg-black/80 backdrop-blur-lg fixed inset-0">
    <button class="w-full h-full cursor-pointer">close</button>
  </form>
</dialog>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('img[data-src]');
    const modal = document.getElementById('image_modal');
    const modalImage = document.getElementById('modal_image');

    images.forEach(img => {
      img.addEventListener('click', () => {
        modalImage.src = img.dataset.src;
        modalImage.alt = img.dataset.alt;
        modal.showModal();
      });
    });

    // Reset modal when closed
    modal.addEventListener('close', () => {
      modalImage.src = '';
      modalImage.alt = '';
    });
  });
</script>

<style>
  /* Ensure proper backdrop coverage */
  .modal-box {
    background: transparent !important;
    pointer-events: none;
  }
  
  .modal-box > * {
    pointer-events: auto;
  }
  
  .modal-backdrop {
    backdrop-filter: blur(10px);
  }
</style>