---
import NavItem from "./NavItem.astro";
---

<div>
    <ul class="menu menu-horizontal px-1">
        <NavItem href="https://cloud.fosc.space" title="Cloud" />
        <NavItem href="https://gallery.fosc.space" title="Gallery" />
        <NavItem href="https://download.fosc.space" title="Downloads" />
        <NavItem href="/blog" title="Blog" />
      </ul>
</div>