---
// No need to import LottiePlayer here since we'll lazy-load it
---

<div id="niceTryModal" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden">
  <div class="text-center">
    <!-- Lottie Animation -->
    <lottie-player
      src="/telegram-duck-thumbs-up.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px;"
      loop
      autoplay
    ></lottie-player>

    <!-- "Nice Try" Text -->
    <div class="text-4xl font-bold mt-4 meme-text">
      NICE TRY!
    </div>
  </div>
</div>

<!-- Custom CSS for meme text -->
<style>
  .meme-text {
    color: white; /* Text color */
    -webkit-text-stroke: 2px black; /* Text outline (black border) */
    text-stroke: 2px black; /* Fallback for non-WebKit browsers */
    font-family: Impact, sans-serif; /* Classic meme font */
  }
</style>

<script>
  // Track the last two keystrokes
  let keystrokes = '';

  document.addEventListener('keydown', (event) => {
    // Append the pressed key to the keystrokes string
    keystrokes += event.key;

    // Keep only the last two keystrokes
    if (keystrokes.length > 2) {
      keystrokes = keystrokes.slice(-2);
    }

    // Check if the last two keystrokes are "nt"
    if (keystrokes === 'nt') {
      console.log('"nt" typed');

      // Unhide the modal
      const modal = document.getElementById('niceTryModal');
      modal.classList.remove('hidden');

      // Lazy-load the Lottie player script
      const script = document.createElement('script');
      script.src = 'https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js';
      script.onload = () => {
        console.log('Lottie player script loaded');
      };
      document.body.appendChild(script);
    }
  });
</script>