
---
import '../styles/old.css';
---
<!DOCTYPE html>
<html lang="en">
  <!-- Ah shit, here we go again. -->

  <head>
    <meta charset="utf-8" />
    <title>FOSC - Free Open Source Club</title>

    <meta
      name="description"
      content="FOSC: Hackerspace located at Universidad Politecnica de Cartagena (UPCT)"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- Massive amount of favicon related stuff -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=2"
    />
    <link rel="manifest" href="/site.webmanifest?v=2" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#5bbad5" />
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="apple-mobile-web-app-title" content="FOSC" />
    <meta name="application-name" content="FOSC" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body>
    <slot />
  </body>
</html>
